@use '@/app/utils/_variables' as varibales;

.phoneLink {
  z-index: 2;
  .phoneText {
    color: white;
    font-weight: 500;
    z-index: 3;
  }

  .gradientWrapper {
    position: relative;
    width: 277px;
    height: 50px;
    border-radius: 333px;
    pointer-events: none; // Важно! Делаем псевдоэлементы "прозрачными" для кликов

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      background: linear-gradient(45deg, #fb0092, #0000ff, #00ff00, #ffff00, #ff0000, #fb0092, #fb0092, #0000ff, #00ff00, #ffff00, #ff0000, #fb0092);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      z-index: -1; // Изменен z-index
      border-radius: 333px;
      background-size: 400%;
      //animation: animate 30s linear infinite;
      pointer-events: none; // Важно! Делаем псевдоэлементы "прозрачными" для кликов
    }

    &::after {
      filter: blur(10px);
    }

    .spanWrapper {
      width: 100%;
      height: 100%;
      background-color: varibales.$primary-color;
      border-radius: 333px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }
  }
}

//@keyframes animate {
//  0% {
//    background-position: 0 0;
//  }
//
//  50% {
//    background-position: 300% 0;
//  }
//
//  100% {
//    background-position: 0 0;
//  }
//}