@use '@/app/utils/variables';

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

.container {
  display: inline-block;
  position: relative;
}

.svg {
  transform-origin: center center;
  animation: rotate 2s linear infinite;
  height: 100%;
  width: 100%;
}

.circle {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

.size-l {
  width: 48px;
  height: 48px;
}

.size-m {
  width: 24px;
  height: 24px;
}

.size-s {
  width: 16px;
  height: 16px;
}

.color-dark {
  stroke: variables.$main-color;
}

.color-light {
  stroke: white; //@fixme theme color
}
