@use '@/app/utils/_mixins.scss' as *;

.visible {
  display: flex;
}

.location {
  @include mobile-xs {
    display: none;
  }

  @include tablet-portrait {
    display: flex;
  }

  &--always-visible {
    display: flex !important;
  }

  .text {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
  }
}