$primary-text: #192836;

$z-index-modal-page: 45;

$bg-color: #FFFFFF;
$bg-color-2: #F5FAFF;
$main-color: #0077FF;
$secondary-color: #EFF7FF;
$primary-color: #192836;
$hover-color: #2289FF;

// Брейкпоинты
$breakpoint-mobile-xs: 0;
$breakpoint-tablet-portrait: 768px;
$breakpoint-laptop: 1440px;
